@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="mt-5 p-5 border bg-secondary">
    <div class="display-6">State Manager - Index 2</div>
    <div class="alert alert-warning">
        <p class="lead">
            ViewData -> @ViewData["Name"]
        </p>
        <p class="lead">
            Viewing -> @ViewBag.Counter
        </p>
        <p class="lead">
            Temp Data -> @ViewData["Name"]
        </p>
        <p class="lead">
            Session Name: @Context.Session.GetString("Name")
        </p>
        <p class="lead">
            Session Counter : @Context.Session.GetInt32("Counter")
        </p>
    </div>
    <div class="bg-light mt-auto p-2">
        <a asp-action="Index" asp-route-id="0" asp-controller="StateManager"
            class="btn btn-lg btn-outline-success">Back to Index</a>

    </div>
</div>